.popup__text {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    display: block;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    padding-bottom: 9px;
}

