.header__logo {
    max-width: 142px;
    width: 100%;
    max-height: 33px;
    height: 100%;
}

@media all and (max-width:1280px) {
    .header__logo {
        max-width: calc(142px - ((1280px - 100vw) / 960 * (142 - 103.74)));
        max-height: calc(33px - ((1280px - 100vw) / 960 * (33 - 24.4)));
        margin-left: calc((1280px - 100vw) / 960 * 27);
    }

}