.popup__figcaption {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50%;
    pointer-events: none;
}