.popup__title {
    text-rendering: optimizeLegibility;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin: 0;
    margin-top: 34px;
    max-width: 358px;
    width: 100%;
}

@media all and (max-width:1280px) {
    .popup__title {
        font-size: calc(24px - ((1280px - 100vw) / 960 * (24 - 18)));
        line-height: calc(29px - ((1280px - 100vw) / 960 * (29 - 18)));
        margin-top: calc(34px - ((1280px - 100vw) / 960 * (34 - 25)));
        max-width: calc(358px - ((1280px - 100vw) / 960 * (358 - 238)));
    }
}