.profile__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

@media all and (max-width:700px) {
    .profile__subtitle {
        font-size: calc(18px - (700px - 100vw)/380*4);
        line-height: calc(22px - (700px - 100vw)/380*5);
        justify-self: center;
        max-width: calc(500px - (700px - 100vw)/380*(500 - 190));
    }

}