.authorization-form__link-to-login {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  text-decoration: none;
}
