.profile__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

@media all and (max-width:1280px) {
    .profile__image {
        margin-left: calc((1280px - 100vw)/360*20);
    }
}

@media all and (max-width:920px) {
    .profile__image {
        margin-left: calc(20px - (920px - 100vw)/600*20);
    }
}