.authorization-form__input {
  border: none;
  background: none;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  color: white;
}

.authorization-form__input::placeholder {
  color: #cccccc;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", Arial, sans-serif;
}

.authorization-form__input:first-of-type {
  margin-top: 50px;
}
