.popup__close-btn {
    border: none;
    background: none;
    background-image: url('../../../images/close_icon.svg');
    background-size: 32px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(121%, -112%);
    width: 32px;
    height: 36px;
    background-repeat: no-repeat;
}

@media all and (max-width:1280px) {
    .popup__close-btn {
        width: calc(32px - ((1280px - 100vw) / 960 * (32 - 20)));
        height: calc(36px - ((1280px - 100vw) / 960 * (36 - 22)));
        background-size: calc(32px - ((1280px - 100vw) / 960 * (32 - 20)));
        right: calc((1280px - 100vw) / 960 * (25));
        top: calc((1280px - 100vw) / 960 * (-10));
    }
}

.popup__close-btn:hover {
    opacity: 60%;
    cursor: pointer;
}