.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 1280px) {
  .header {
    margin-top: calc(45px - ((1280px - 100vw) / 960 * (45 - 28)));
    min-height: calc(74px - ((1280px - 100vw) / 960 * (74 - 56)));
  }
}
