.element__title {
    text-rendering: optimizeLegibility;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 189px;
    margin: 0;
}